// This file contains styling which overrides the standard Liferay portlets
// Things like styling the search engine results page, the blog etc.
// --------


// All portlets
.portlet {

	background: $vgrintra-white;
	padding: 1.0em;

	&.portlet-bg-transp {
		background: transparent;
		padding-top: 0;
	}

	.portlet-topper {
		.portlet-title {

			color: $vgrintra-yellow;

			font-size: 1.325em;

			img {
				display: none;
			}
		}

		.portlet-topper-toolbar {
			right: 0;
			top: -8px;

			.portlet-icon-back {
				color: $vgrintra-mineshaft;
				font-size: 11px;
				padding: 0;
			}
		}

	}

	.portlet-content {
		background: transparent;
		border: none;
		padding: 0;
		@include border-radius(2px);

		.portlet-body {
			padding: 0;
		}
	}

}

.portlet-borderless-container {
	min-height: 0;
}


// Navigation Portlet
.portlet-navigation {

	.portlet-content {
    border: 1px solid $vgrintra-mercury;
  }

	.nav-menu {

		background: $vgrintra-wildsand;

		> h2 {
			background: $vgrintra-yellow;
			border: none;
			color: $vgrintra-white;
			font-size: 1.1em;
			text-transform: uppercase;
			margin: 0;
			padding: 0.5em;
			position: relative;
			text-align: center;
			@include border-radius(2px 2px 0 0);

			&:after {
        background: transparent;
        border-style: solid;
        border-color: $vgrintra-yellow transparent transparent transparent;
        border-width: 10px 10px 0 10px;
        bottom: -10px;
        content: " ";
        height: 0;
        left: 50%;
        margin-left: -5px;
        position: absolute;
        width: 0;
      }

			a {
				color: $vgrintra-white;
			}
		}

		ul {
			list-style: none;
			margin: 6px;
			padding: 0;

			li {
				margin: 3px 0;
				margin-left: 10px;
				padding: 3px 0;

				a {
					color: $vgrintra-mineshaft;
					display: inline-block;
					line-height: 1.0;
					position: relative;
					padding-right: 20px;
					text-decoration: none;

					&:hover {
						background: transparent url(../images/arrows/05_right.png) right center no-repeat;
						text-decoration: none;
					}

				}
			}

			&.level-1 {

				margin: 0;
	      padding: 0.3em 0.7em;

				li {

					margin-left: 0;
					border-bottom: 1px solid $vgrintra-alto;

					&:last-child {
            border-bottom: none;
          }

					a {
						font-size: 1.0em;
					}

					ul {
						li {
							border-bottom: 0;
							a {
								font-size: 1.0em;
								text-transform: none;
							}
						}
					}

				}
			}


		}
	}

}


// Web Content Display and Asset Publisher
.portlet-journal-content,
.portlet-asset-publisher {

	.portlet-content {
		.portlet-body {
			padding-left: 0;
			padding-right: 0;
		}
	}

}

// Asset Publisher
.portlet-asset-publisher {
	.taglib-header {
		display: none;
	}

	.asset-full-content {

		.asset-content {
			margin: 0;
		}
	}

	.portlet-body {

		.asset-user-actions {
			@include clearfix();

			margin-bottom: 3px;

			div:first-child {
				margin-left: 0;
			}

			div:last-child {
				margin-right: 0;
			}
		}
	}
}

// Blogs Portlet
.portlet-blogs {

	.taglib-header {
		border: none;
		margin: 0;
		padding: 0;

		.header-back-to {
			display: block;
			display: none;
			margin: 0 0 0.5em 0;

			a {
				color: $vgrintra-boulder;
				float: none;
				font-size: 0.8em;
				font-weight: normal;
				text-decoration: none;

				.helper-hidden-accessible {
					color: $vgrintra-mineshaft;
					clip: none !important;
					line-height: 1.0;
					position: relative !important;
				}

				&:hover {
					text-decoration: none;

					.helper-hidden-accessible {
						text-decoration: underline;
					}
				}

			}

		}

		h3 {
			font-size: 1.875em;
			line-height: 1.73333em;
		}


	}

	form {
		margin: 0;
	}

	.entry-date {
		background: none;
		color: $vgrintra-graydove;
		padding-left: 0;
	}

	.entry-footer {
		@include pie-clearfix();
	}

	.entry-author {
		background: none;
		border-right: 0;
		color: $vgrintra-graydove;
		padding-left: 0px;
	}

	.stats {
		display: none;
	}

	.separator {
		display: none;
	}

	.entry-navigation {
		background: none;
		border: none;
		border-top: 1px solid $vgrintra-mercury;
		margin: 10px 0;
		padding: 10px;

		@include pie-clearfix();

		span {
			display: block;
			visibility: hidden;

			&.previous {}
			&.next {}
		}

		a {
			background-color: $vgrintra-mercury;
			background-repeat: no-repeat;
			color: $vgrintra-mineshaft;
			display: inline-block;
			padding: 3px 6px;
			text-decoration: none;
			@include border-radius(4px);

			&:hover {
				background-color: $vgrintra-alto;
				color: $vgrintra-black;
				text-decoration: none;
			}

			&.previous {
				background-image: url(../images/arrows/05_left.png);
				background-position: left center;
				float: left;
				padding-left: 15px;
			}

			&.next {
				background-image: url(../images/arrows/05_right.png);
				background-position: right center;
				float: right;
				padding-right: 15px;
			}
		}

	}

	#blogsCommentsPanelContainer {
		margin-bottom: 0;

		.accordion-group {
			border: 0;
			@include border-radius(0);

			.accordion-heading {
				.accordion-toggle {
					background: $vgrintra-yellow;
					color: $vgrintra-white;
					font-size: 1.3em;
					padding: 6px 10px;

					@include border-radius(4px);
				}
			}

			.accordion-inner {
				border: 0;
			}

		}

	}

}

// Sitemap portlet
.portlet-site-map {

	.portlet {
		.portlet-topper {
			.portlet-title {
				color: $heading-h1-color;
				font-size: 1.875em;
				line-height: 1.73333em;
			}
		}
	}

	.portlet-body {

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				margin: 0.1em 0;
				padding: 0.1em 0;

				a {
					color: $vgrintra-mineshaft;
					display: block;
					padding: 0.1em 0.3em;
					text-decoration: none;

					&:hover {
						background: $vgrintra-alto;
						text-decoration: none;
					}
				}
			}

			ul {
				margin: 0.4em;
				padding-left: 0.5em;
			}
		}

		// First level
		> ul {

			> li {

				> a {
					background: $vgrintra-yellow;
					color: $vgrintra-white;
					font-size: 1.1em;
					text-transform: uppercase;

					&:hover {
						color: $vgrintra-mineshaft;
					}

				}
			}
		}

	}


}
