
#wrapper {
  margin-bottom: -$footer-height;
  min-height: 100%;
  padding: 1em 1em;
	padding-top: 0;
  position: relative;

	@include medium {
		padding: 2em 5em;
		padding-top: 0;
	}

  .footer-push {
    height: $footer-height;
  }

}
