.main-navigation {

  background: transparent;
  display: none;
  font-weight: $menu-bar-font-weight;
  margin: 0;
  padding: 0;

  &.open {
    display: block;
  }

  @include small {
    display: block;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  > ul {

    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    > li {

      display: block;
      position: static;
      margin: 0 10px;

      @include small {
        display: inline-block;
      }

      > a {

        color: $menu-bar-color;
        display: block;
        font-size: 1.1em;
        font-weight: normal;
        margin: 0;
        padding: 0.6em 0.4em;
        text-transform: uppercase;

        @include small {
          background: transparent;
          border: 1px solid transparent;
          border-bottom-width: 0;
          border-top-width: 3px;
          display: inline-block;
          position: relative;
          @include border-radius(3px 3px 0 0);
        }

      }

      @include small {
        &.dropdown {
          > a {
            &:after {
              content: "";
              display: inline-block;
              float: right;
              margin-right: 0.4em;
              position: relative;
              right: -5px;
              top: 50%;

              @include triangle(10px, $menu-bar-color, down);

              @include small {
                  float: none;
                  top: 2px;
              }
            }
          }
        }
      }

      &.selected {
        > a {
          font-weight: bold;
        }
      }

      &.on {
        > a {
          background: $vgrintra-white;
          border-color: $vgrintra-alto;
          border-top-color: $vgrintra-yellow;
          z-index: 4;
        }
      }

    }
  }


}
